/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


//@font-face {
//  font-family: 'IlneFont';
//  src: url('assets/fonts/line/LINESeedJP_A_OTF_Bd.otf') format('truetype'),
//  url('assets/fonts/line/LINESeedJP_A_OTF_Eb.otf') format('truetype'),
//  url('assets/fonts/line/LINESeedJP_A_OTF_Rg.otf') format('truetype'),
//  url('assets/fonts/line/LINESeedJP_A_OTF_Th.otf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap; /* フォントの読み込みを最適化 */
//}


/* Regular */
@font-face {
  font-family: 'IlneFont';
  src: url('assets/fonts/line/LINESeedJP_A_OTF_Rg.otf') format('opentype');
  font-weight: 400; /* 通常 */
  font-style: normal;
  font-display: swap;
}

/* Thin */
@font-face {
  font-family: 'IlneFont';
  src: url('assets/fonts/line/LINESeedJP_A_OTF_Th.otf') format('opentype');
  font-weight: 100; /* 細字 */
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'IlneFont';
  src: url('assets/fonts/line/LINESeedJP_A_OTF_Bd.otf') format('opentype');
  font-weight: 700; /* 太字 */
  font-style: normal;
  font-display: swap;
}

/* Extra Bold */
@font-face {
  font-family: 'IlneFont';
  src: url('assets/fonts/line/LINESeedJP_A_OTF_Eb.otf') format('opentype');
  font-weight: 800; /* 極太字 */
  font-style: normal;
  font-display: swap;
}


* {
  font-family: 'IlneFont', sans-serif;
}
